<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcD6Mn3HjTpTONtasdqKeP0DObJ6CyIW4</string>
	<key>GCM_SENDER_ID</key>
	<string>11774588776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moko.chatapp</string>
	<key>PROJECT_ID</key>
	<string>testchatapp-1c594</string>
	<key>STORAGE_BUCKET</key>
	<string>testchatapp-1c594.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11774588776:ios:6edb946664ef1ec40d48dd</string>
</dict>
</plist>